<div #boxContainer class="box-container"
     [@fadeAnimation]="isOpen ? 'open' : 'closed'"
     (@fadeAnimation.done)="doneDestroy()">
  <div class="info" *ngIf="info">
    <div class="top">
      <h5>{{info}}</h5>
    </div>
  </div>
  <div class="properties" *ngIf="department">
    <div class="top">
      <h3>{{department.name}}</h3>
      <i class="material-icons clickable" (click)="dismiss()">close</i>
    </div>
    <div class="basic">
      <h4><i class="material-icons">face</i>  Información Básica</h4>
      <h5>Número de casos infectados: {{department.infected}}</h5>
      <h5>Número de fallecidos: {{department.deaths}}</h5>
      <hr>
    </div>
    <div class="advanced">
      <h4><i class="material-icons">explore</i> Procedencia</h4>
      <h5>Casos importados: {{department.imported}}</h5>
      <h5>Casos relacionados: {{department.related}}</h5>
      <h5>Casos en estudio: {{department.onStudy}}</h5>
      <hr>
      <h4><i class="material-icons">wc</i> Edades</h4>
      <h5>Infectado con mas edad: {{department.olderInfected}} años</h5>
      <h5>Infectado con menos edad: {{department.youngerInfected}} años</h5>
      <h5>Fallecido con mas edad: {{department.olderDeath}} años</h5>
      <h5>Fallecido con menos edad: {{department.youngerDeath}} años</h5>
    </div>
  </div>
</div>
