<div class="big-container">
  <svg *ngIf="departments"
       [attr.viewBox]="getViewBox()" preserveAspectRatio="xMidYMid">
    <path *ngFor="let department of departments"
          fill="#88a4bc" stroke="#ffffff" [attr.d]="department.path"
          stroke-opacity="1" stroke-width="1.3555687500000004" stroke-linejoin="round"
          transform="matrix(0.3735,0,0,0.3735,0,0)" fill-opacity="1" class="department"
          (mouseout)="hideNameOnMouse()"
          (mousemove)="getNameOnMouse($event, department)"
          (click)='getDepartment($event, department)' [ngClass]="{'selected': department.name == actualDepartment.name}"
    >
    </path>
  </svg>
</div>
<div class="nameDep" id="nameDep"></div>
<div #infoContainer class="infoContainer"></div>
