<div class="container">
  <div class="map">
    <app-map></app-map>
  </div>
</div>

<div class="top-container">
  <div class="top-frame">
    <h3>Mapa de la situación actual del Coronavirus (COVID-19) en Colombia</h3>
  </div>
</div>

<div class="legend">
  <div class="top-legend">
    <div class="text-legend">low cases</div>
    <div class="text-legend">high cases</div>
  </div>
  <div class="bottom-legend" [ngStyle]="{background: getGradient()}"></div>
</div>

<div class="warning">
  *Los datos que se muestran en este sitio son un recopilatorio de información facilitada por el Instituto Nacional de
  Salud a través de la plataforma datos abiertos del Gobierno de Colombia
</div>
